player-connection-mode=Listen
player-connection-guid=547378142
player-connection-debug=0
player-connection-project-name=Secrets of the Silent Abyss
player-connection-ip=192.168.0.116
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=d1542284d420425d87c8db504c668b8e
